.easy-toast-container {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  background: #080808;
  width: max-content;
  height: max-content;
  padding: 8px;
  border-radius: 5px;
  position: fixed;
  color: #fff;
  box-shadow: 0px 0px 0px 4px #0000002b;
  font-family: sans-serif;
  transition: 0.3s ease-in-out;
}

.easy-toast-align-center-bottom {
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
}

.easy-toast-align-center-top {
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
}

.easy-toast-align-left-top {
  left: 20px;
  top: 20px;
}

.easy-toast-align-left-bottom {
  left: 20px;
  bottom: 20px;
}

.easy-toast-align-right-top {
  right: 20px;
  top: 20px;
}

.easy-toast-align-right-bottom {
  right: 20px;
  bottom: 20px;
}

.easy-toast-body {
  margin: 0;
  padding: 0;
}

.easy-toast-close {
  background: #F44336;
  padding: 0px 8px;
  color: #fff;
  cursor: pointer;
}

.easy-toast-success {
  background: linear-gradient(to right, #3ca55c, #5ab549);
  box-shadow: 0px 0px 0px 4px #59b44a45;
}
.easy-toast-success a {
  color: #fff;
  font-weight: 500;
}
.easy-toast-success .easy-toast-close {
  background: #59b44a;
  transition: 0.3s ease-in-out;
}
.easy-toast-success .easy-toast-buttons-container {
  display: flex;
  gap: 5px;
}
.easy-toast-success .easy-toast-buttons-container button {
  border: 0 !important;
  background: #4e9e3f;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.easy-toast-success .easy-toast-buttons-container button:hover {
  background: transparent;
}

.easy-toast-danger {
  background: linear-gradient(to right, #f92e29, #ff5a5a);
  box-shadow: 0px 0px 0px 4px #de444445;
}
.easy-toast-danger a {
  color: #fff;
  font-weight: 500;
}
.easy-toast-danger .easy-toast-close {
  background: #ff5a5a;
  transition: 0.3s ease-in-out;
}
.easy-toast-danger .easy-toast-buttons-container {
  display: flex;
  gap: 5px;
}
.easy-toast-danger .easy-toast-buttons-container button {
  border: 0 !important;
  background: #ea4b4a;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.easy-toast-danger .easy-toast-buttons-container button:hover {
  background: transparent;
}

.easy-toast-info {
  background: linear-gradient(to right, #0083ff, #239bf3);
  box-shadow: 0px 0px 0px 4px #446fde54;
}
.easy-toast-info a {
  color: #fff;
  font-weight: 500;
}
.easy-toast-info .easy-toast-close {
  background: #239bf4;
  transition: 0.3s ease-in-out;
}
.easy-toast-info .easy-toast-buttons-container {
  display: flex;
  gap: 5px;
}
.easy-toast-info .easy-toast-buttons-container button {
  border: 0 !important;
  background: #0485ff;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.easy-toast-info .easy-toast-buttons-container button:hover {
  background: transparent;
}

.easy-toast-warning {
  background: linear-gradient(to right, #FF9800, #ffaf3a);
  box-shadow: 0px 0px 0px 4px #dea44454;
}
.easy-toast-warning a {
  color: #333;
  font-weight: 500;
}
.easy-toast-warning .easy-toast-close {
  background: #ffaf3b;
  transition: 0.3s ease-in-out;
}
.easy-toast-warning .easy-toast-buttons-container {
  display: flex;
  gap: 5px;
}
.easy-toast-warning .easy-toast-buttons-container button {
  border: 0 !important;
  background: #f19307;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.easy-toast-warning .easy-toast-buttons-container button:hover {
  background: transparent;
}

.easy-toast-light {
  background: linear-gradient(to right, #ffffff, #f9f9f9);
  box-shadow: 0px 0px 0px 4px #d6d6d654;
  color: #000;
}
.easy-toast-light a {
  color: #333;
  font-weight: 500;
}
.easy-toast-light .easy-toast-close {
  background: #f1f1f1;
  transition: 0.3s ease-in-out;
  color: #676767;
}
.easy-toast-light .easy-toast-buttons-container {
  display: flex;
  gap: 5px;
}
.easy-toast-light .easy-toast-buttons-container button {
  border: 0 !important;
  background: #efefef;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 5px;
  color: #333;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.easy-toast-light .easy-toast-buttons-container button:hover {
  background: transparent;
}

.easy-toast-dark {
  background: linear-gradient(to right, #101010, #292929);
  box-shadow: 0px 0px 0px 4px rgba(193, 193, 193, 0.33);
  color: #dcdcdc;
}
.easy-toast-dark a {
  color: #fff;
  font-weight: 500;
}
.easy-toast-dark .easy-toast-close {
  background: #242424;
  transition: 0.3s ease-in-out;
  color: #bfbfbf;
}
.easy-toast-dark .easy-toast-buttons-container {
  display: flex;
  gap: 5px;
}
.easy-toast-dark .easy-toast-buttons-container button {
  border: 0 !important;
  background: #1f1f1f;
  display: grid;
  place-content: center;
  align-items: center;
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  outline: 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.easy-toast-dark .easy-toast-buttons-container button:hover {
  background: transparent;
}

.slide-out-center-bottom {
  animation: slide-out-center-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-out-center-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
.slide-out-center-top {
  animation: slide-out-center-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-out-center-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
.slide-in-center-bottom {
  animation: slide-in-center-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-center-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.slide-in-center-top {
  animation: slide-in-center-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-center-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.slide-out-left-bottom {
  animation: slide-out-left-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-out-left-bottom {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
.slide-out-left-top {
  animation: slide-out-left-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-out-left-top {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px);
    opacity: 0;
  }
}
.slide-in-left-bottom {
  animation: slide-in-left-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left-bottom {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-left-top {
  animation: slide-in-left-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left-top {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-out-right-bottom {
  animation: slide-out-right-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-out-right-bottom {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
.slide-out-right-top {
  animation: slide-out-right-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-out-right-top {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}
.slide-in-right-bottom {
  animation: slide-in-right-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right-bottom {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right-top {
  animation: slide-in-right-top 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-right-top {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=easy-toast.css.map */
